extends ../layout

block content
	h1 Usuários
	br
	br
	a(href="/usuarios/create" title="Criar novo usuário") Criar novo usuário
	br
	if messages.info
		div(class="alert alert-dismissible alert-success")
			p= messages.info
	br
	br
	each item, i in lista
		table(class="table well")
			tbody			
					tr
						th ID:
						td #{item._id}
					tr
						th Nome:
						td #{item.nome}
					tr
						th login:
						td #{item.login}
					tr
						th Senha:
						td #{item.senha}
					tr
						th Data Cad:
						td #{moment(item.data_cad).format('LLL')}
					tr
						th Funçoes
						td
							a(href="/usuarios/show/#{item._id}", class="btn btn-default") Ver
							&nbsp
							a(href="/usuarios/edit/#{item._id}", class="btn btn-info") Editar
		br
		br
						

	